#quadrado{
 width:400px;
 heigth:300px;
 border:solid; border-color: #666666;
 border-color:#555fff;
 position:relative;
 top:0;
 left:0;
 
}

#quadrado:hover {
 background-image: url('https://prnt.sc/h3mvdz');
 width: 600px;
 height: 500px;
 border:solid; border-color: #FF6644;
 -moz-border-radius:10px; 
 -webkit-border-radius:10px;;
 background-color:#FF2200;
 position:relative;
 top:0;
 left:0;
}
