#quadrado{
 width:600px;
 heigth:500px;
 border:solid; border-color: #666666;
 border-color:#555fff;
 position:relative;
 top:0;
 left:0;
 
}

#quadrado:hover {
 width: 600px;
 height: 500px;
 -moz-border-radius:10px; 
 -webkit-border-radius:10px;;
 position:relative;
 top:0;
 left:0;
}

.img:hover{
 background-image: url('https://prnt.sc/h3mvdz');
 width: 600px;
 heigth: 500px;
 position:relative;
 top:0;
 left:0;
}
