#menu{
 width:600px;
 heigth:500px;
 background-color:#FF5566; 
 border:solid; border-color: #666666;
 border-color:#555fff;
 position:relative;
 top:0;
 left:0;
 
}

#player1{
 width:150px;
 heigth:470px;
 background-color:#88cc66;
 position:relative;
 top:15px;
 left:30px;
}

#player1:hover{
  width:600px;
  heigth:500px;
  background-color:#FF00BB;
  position:relative;
  top:0;
  left:0;
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  -o-transition: 0.8s all ease-in-out; 
 
}

#player2{
 width:150px;
 heigth:470px; 
 background-color:#22ff44;
 position:relative;
 top:15px;
 left:180px;
}

#player2:hover{
  width:600px;
  heigth:500px;
  background-color:#BB00FF;
  position:relative;
  top:0;
  left:0;
  transition: 0.8s all ease-in-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  -o-transition: 0.8s all ease-in-out; 
