.menu{
 background-color:#FF5566; 
 border:solid; border-color: #666666;
 border-color:#555fff;
 position:relative;
 top:0;
 left:0;
}

#fundo{
  position:absolute;
  background-image: url('https://i.imgur.com/N17plbn.jpg')
}

#jolly_roger{
 background-image: url("https://i.imgur.com/2CVRSic.png");
 width:500px;
 heigth:250px;
 position:absolute;
 top: 110px; 
 left:60px;
}

#player1{
 width:600px;
 heigth:500px;
 background-image: url("https://i.imgur.com/7u6FNDW.png");
 background-color:#66FF44;
 position:absolute;
 top:375px;
 left:25px;
}

#player1:hover{
  width:600px;
  heigth:500px;
  background-image: url("https://image.prntscr.com/image/BdKlKTflTxiLEJ3PGHqX0A.png");
  background-color:#FF00BB;
  position:relative;
  top:375px;
  left:25px;
  transition: opacity 0.8s ease-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  -o-transition: 0.8s all ease-in-out;  
}

#player2{
 width:600px;
 heigth:500px;
 background-image: url("https://i.imgur.com/7u6FNDW.png");
 background-color:#66BB00;
 position:absolute;
 top:890px;
 left:25px;
}

#player2:hover{
  width:600px;
  heigth:500px;
  background-image: url("https://image.prntscr.com/image/BdKlKTflTxiLEJ3PGHqX0A.png");
  background-color:#44BBCC;
  position:relative;
  top:890px;
  left:25px;
  transition: opacity 0.8s ease-out;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  -o-transition: 0.8s all ease-in-out;  
 } 
  
